In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('2019_nCoV_20200121_20200127.csv')

In [4]:
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,1/27/2020 20:30,2714.0,NaN,47.0,100.0
1,Zhejiang,Mainland China,1/27/2020 20:30,173.0,NaN,1.0,NaN
2,Henan,Mainland China,1/27/2020 20:30,168.0,NaN,NaN,1.0
3,Guangdong,Mainland China,1/27/2020 20:30,151.0,NaN,4.0,NaN
4,Chongqing,Mainland China,1/27/2020 20:30,132.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
561,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
562,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
563,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
564,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN
565,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN

In [6]:
df.shape

(566, 7)

In [8]:
df['Confirmed'].isnull().sum().sum()

29

In [9]:
df.isnull().sum().sum()

1623